$transition-4-einout: all 0.4s ease-in-out;
$transition-9-einout: all 0.9s ease-in-out;
$gotahm-bold: 'gothambold';
$gotham-book: 'gothambook';
$gotham-medium: 'gothammedium';
$gotham-light: 'gothamlight';
$logo-green: #ebff46;
$gray-text: #9e9e9e;
$helvetica: 'Helvetica Neue', sans-serif;
