@media (min-width: 1441px) and (max-width: 1700px) {
  header .main-header {
    padding: 60px 35px;
  }
  .home-slider-main .slider-content-box {
    padding: 200px 50px 140px 50px;
    justify-content: space-between;
    gap: 39px;
  }
  .home-slider-main .slider-content-box .left-content {
    width: 145px;
  }
  .home-slider-main .slider-content-box .left-content ul li {
    margin-bottom: 5px;
  }
  .home-slider-main .slider-content-box .right-content ul li a {
    font-size: 40px;
    line-height: normal;
    text-align: right;
  }
  .home-slider-main .slider-contact {
    padding-left: 50px;
  }
  footer .footer-main {
    padding: 50px 50px 50px 50px;
  }
  footer .footer-main .footer-left-flex .contents p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 22px;
  }
  footer .footer-main .footer-links ul {
    gap: 20px;
  }
  .sidebar-main {
    padding: 30px 40px;
  }
  .sidebar-main .sidebar-header .sidebar-header-flex .logo-box {
    width: 140px;
  }
  .sidebar-main .sidebar-links {
    padding-top: 80px;
    gap: 20px;
  }
  .sidebar-main .sidebar-links .top-items ul li {
    font-size: 28px;
    margin-bottom: 12px;
  }
  .azienda-slider-main {
    height: 950px;
  }
  .azienda-slider-main .swiper-slide .slide-bg {
    height: 950px;
  }
  .azienda-slider-main .slider-content-box {
    padding: 150px 50px 70px 50px;
    justify-content: center;
    gap: 0;
    align-items: center;
  }
  .azienda-slider-main .centerd {
    height: -moz-fit-content;
    height: fit-content;
  }
  .azienda-slider-main .centerd h1 {
    font-size: 100px;
    line-height: 120px;
  }
  .azienda-slider-main .slider-sound-switch {
    display: none;
  }
  .leadership-main {
    padding: 76px 35px;
    padding-bottom: 48px;
  }
  .leadership-main .title-box {
    margin-bottom: 20px;
  }
  .leadership-main .title-box h2 {
    line-height: 67px;
    font-size: 45px;
    letter-spacing: -1.75px;
    margin-bottom: 48px;
  }
  .leadership-main .swiper {
    padding-bottom: 60px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box {
    padding: 0 15px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box .name {
    font-size: 16px;
    line-height: 20px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box .designation {
    font-size: 11px;
    line-height: 16px;
  }
  .leadership-main .swiper .swiper-button-prev {
    left: 47%;
  }
  .leadership-main .swiper .swiper-button-next {
    right: 45%;
  }
  .ohibo-section {
    padding-top: 0;
  }
  .footer-top-main {
    padding: 76px 35px 74px 35px;
  }
  .footer-top-main .title {
    margin-bottom: 25px;
  }
  .footer-top-main .title h4 {
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .footer-top-main .title h6 {
    font-size: 25px;
    line-height: 30px;
  }
  .footer-top-main .form-group {
    margin-bottom: 15px;
  }
  .footer-top-main .form-group input[type=text] {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
  }
  .footer-top-main .form-group textarea {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
  }
  .footer-top-main .form-group ::-moz-placeholder {
    font-size: 16px;
    line-height: 16px;
  }
  .footer-top-main .form-group ::placeholder {
    font-size: 16px;
    line-height: 16px;
  }
  .footer-top-main .form-group .footer-btn-submit {
    font-size: 16px;
    line-height: 16px;
    padding: 15px 20px;
  }
  .footer-top-main .form-check {
    margin-top: 20px;
  }
  .footer-top-main .form-check label {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-top-main .form-text {
    font-size: 12px;
    line-height: 16px;
  }
  .officina-main .slider-content-box {
    justify-content: center !important;
    align-items: center;
  }
}
@media (min-width: 1366px) and (max-width: 1440px) {
  header .main-header {
    padding: 60px 35px;
  }
  .home-slider-main .slider-content-box {
    padding: 200px 50px 140px 50px;
    justify-content: space-between;
    gap: 39px;
  }
  .home-slider-main .slider-content-box .left-content {
    width: 145px;
  }
  .home-slider-main .slider-content-box .left-content ul li {
    margin-bottom: 5px;
  }
  .home-slider-main .slider-content-box .right-content ul li a {
    font-size: 40px;
    line-height: normal;
    text-align: right;
  }
  .home-slider-main .slider-contact {
    padding-left: 50px;
    max-width: 210px;
  }
  footer .footer-main {
    padding: 50px 50px 50px 50px;
  }
  footer .footer-main .footer-left-flex .contents p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 22px;
  }
  footer .footer-main .footer-links ul {
    gap: 20px;
  }
  .sidebar-main {
    padding: 30px 40px;
  }
  .sidebar-main .sidebar-header .sidebar-header-flex .logo-box {
    width: 140px;
  }
  .sidebar-main .sidebar-links {
    padding-top: 80px;
    gap: 20px;
  }
  .sidebar-main .sidebar-links .top-items ul li {
    margin-bottom: 10px;
  }
  .sidebar-main .sidebar-links .top-items ul li a {
    font-size: 27px;
  }
  .azienda-slider-main {
    height: 950px;
  }
  .azienda-slider-main .swiper-slide .slide-bg {
    height: 950px;
  }
  .azienda-slider-main .slider-content-box {
    padding: 150px 50px 70px 50px;
    justify-content: center;
    gap: 0;
    align-items: center;
  }
  .azienda-slider-main .centerd {
    height: -moz-fit-content;
    height: fit-content;
  }
  .azienda-slider-main .centerd h1 {
    font-size: 100px;
    line-height: 120px;
  }
  .azienda-slider-main .slider-sound-switch {
    display: none;
  }
  .leadership-main {
    padding: 76px 35px;
    padding-bottom: 48px;
  }
  .leadership-main .title-box {
    margin-bottom: 20px;
  }
  .leadership-main .title-box h2 {
    line-height: 67px;
    font-size: 45px;
    letter-spacing: -1.75px;
    margin-bottom: 48px;
  }
  .leadership-main .swiper {
    padding-bottom: 60px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box {
    padding: 0 15px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box .name {
    font-size: 16px;
    line-height: 20px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box .designation {
    font-size: 11px;
    line-height: 16px;
  }
  .leadership-main .swiper .swiper-button-prev {
    left: 47%;
  }
  .leadership-main .swiper .swiper-button-next {
    right: 45%;
  }
  .ohibo-section {
    padding-top: 0;
  }
  .footer-top-main {
    padding: 76px 35px 74px 35px;
  }
  .footer-top-main .title {
    margin-bottom: 25px;
  }
  .footer-top-main .title h4 {
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .footer-top-main .title h6 {
    font-size: 25px;
    line-height: 30px;
  }
  .footer-top-main .form-group {
    margin-bottom: 15px;
  }
  .footer-top-main .form-group input[type=text] {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
  }
  .footer-top-main .form-group textarea {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
  }
  .footer-top-main .form-group ::-moz-placeholder {
    font-size: 16px;
    line-height: 16px;
  }
  .footer-top-main .form-group ::placeholder {
    font-size: 16px;
    line-height: 16px;
  }
  .footer-top-main .form-group .footer-btn-submit {
    font-size: 16px;
    line-height: 16px;
    padding: 15px 20px;
  }
  .footer-top-main .form-check {
    margin-top: 20px;
  }
  .footer-top-main .form-check label {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-top-main .form-text {
    font-size: 12px;
    line-height: 16px;
  }
  .officina-main .slider-content-box {
    justify-content: center;
  }
  .officina-main .slider-content-box .centerd h1 {
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .officina-main .slider-content-box .centerd h6 {
    font-size: 22px;
    line-height: 32px;
  }
  .officina-main .slider-content-box .centerd h6 br {
    display: none;
  }
  .officina-main .slider-content-box .centerd a {
    font-size: 16px;
  }
  .bdrive-garage-main {
    padding: 60px 0;
  }
  .bdrive-garage-main .image-box img {
    max-width: 250px;
  }
  .private-service-main {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .private-service-main .title-box {
    max-width: 100%;
    padding-bottom: 60px;
  }
  .private-service-main .title-box h3 {
    font-size: 45px;
    line-height: 50px;
  }
  .private-service-main .title-box p {
    font-size: 18px;
    line-height: 25px;
  }
  .private-service-main .title-box p br {
    display: none;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box {
    min-height: 550px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box {
    padding: 50px 30px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box .content-inner h3 {
    font-size: 20px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box .content-inner p {
    font-size: 16px;
    line-height: 20px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box:hover .content-box .content-inner {
    padding-bottom: 0;
  }
  .convenzioni-main {
    padding: 40px 20px 40px 20px;
  }
  .convenzioni-main .content-box h3 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .convenzioni-main .content-box p {
    font-size: 20px;
    line-height: 25px;
  }
  .convenzioni-main .content-box p br {
    display: none;
  }
  .convenzioni-main .content-box ul li::before {
    width: 15px;
    height: 20px;
  }
  .convenzioni-main .content-box ul li a {
    font-size: 25px;
    line-height: 30px;
    padding-left: 22px;
  }
  .convenzioni-main .content-box ul li ul {
    margin-left: 20px;
  }
  .officina-checkup-main {
    padding: 80px 50px;
  }
  .officina-contact-main {
    padding: 40px 20px;
  }
  .officina-contact-main .contact-flex {
    gap: 20px;
  }
  .officina-contact-main .contact-flex .title-box {
    width: 60%;
  }
  .officina-contact-main .contact-flex .title-box h5 {
    margin-bottom: 20px;
  }
  .officina-contact-main .contact-flex .title-box p {
    font-size: 16px;
    line-height: 20px;
  }
  .officina-contact-main .contact-flex .btn-box {
    width: calc(40% - 20px);
  }
  .officina-contact-main .contact-flex .btn-box a {
    font-size: 16px;
    line-height: 20px;
    max-width: 340px;
  }
  .officina-highlight-main {
    padding: 40px 20px;
  }
  .officina-highlight-main .title-box h3 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .officina-highlight-main .title-box p {
    font-size: 20px;
    line-height: 25px;
  }
  .officina-highlight-main .swiper-button-prev {
    left: 47%;
  }
  .officina-highlight-main .swiper-button-next {
    right: 42%;
  }
  .second-service-main {
    padding-top: 0;
  }
  .third-service-main {
    padding-top: 0;
  }
}
@media (min-width: 1300px) and (max-width: 1365px) {
  header .main-header {
    padding: 60px 35px;
  }
  .home-slider-main .slider-content-box {
    padding: 200px 50px 140px 50px;
    justify-content: space-between;
    gap: 39px;
  }
  .home-slider-main .slider-content-box .left-content {
    width: 145px;
  }
  .home-slider-main .slider-content-box .left-content ul li {
    margin-bottom: 5px;
  }
  .home-slider-main .slider-content-box .right-content ul li a {
    font-size: 40px;
    line-height: normal;
    text-align: right;
  }
  .home-slider-main .slider-contact {
    padding-left: 50px;
    max-width: 207px;
  }
  footer .footer-main {
    padding: 50px 50px 50px 50px;
  }
  footer .footer-main .footer-left-flex .contents p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 22px;
  }
  footer .footer-main .footer-links ul {
    gap: 20px;
  }
  .sidebar-main {
    padding: 30px 40px;
  }
  .sidebar-main .sidebar-header .sidebar-header-flex .logo-box {
    width: 140px;
  }
  .sidebar-main .sidebar-links {
    padding-top: 80px;
    gap: 20px;
  }
  .sidebar-main .sidebar-links .top-items ul li {
    margin-bottom: 10px;
  }
  .sidebar-main .sidebar-links .top-items ul li a {
    font-size: 27px;
  }
  .azienda-slider-main {
    height: 950px;
  }
  .azienda-slider-main .swiper-slide .slide-bg {
    height: 950px;
  }
  .azienda-slider-main .slider-content-box {
    padding: 150px 50px 70px 50px;
    justify-content: center;
    gap: 0;
    align-items: center;
  }
  .azienda-slider-main .centerd {
    height: -moz-fit-content;
    height: fit-content;
  }
  .azienda-slider-main .centerd h1 {
    font-size: 68px;
    line-height: 78px;
  }
  .azienda-slider-main .slider-sound-switch {
    display: none;
  }
  .leadership-main {
    padding: 76px 35px;
    padding-bottom: 48px;
  }
  .leadership-main .title-box {
    margin-bottom: 20px;
  }
  .leadership-main .title-box h2 {
    line-height: 67px;
    font-size: 45px;
    letter-spacing: -1.75px;
    margin-bottom: 48px;
  }
  .leadership-main .swiper {
    padding-bottom: 60px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box {
    padding: 0 15px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box .name {
    font-size: 16px;
    line-height: 20px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box .designation {
    font-size: 11px;
    line-height: 16px;
  }
  .leadership-main .swiper .swiper-button-prev {
    left: 47%;
  }
  .leadership-main .swiper .swiper-button-next {
    right: 45%;
  }
  .ohibo-section {
    padding-top: 0;
  }
  .footer-top-main {
    padding: 76px 35px 74px 35px;
  }
  .footer-top-main .title {
    margin-bottom: 25px;
  }
  .footer-top-main .title h4 {
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .footer-top-main .title h6 {
    font-size: 25px;
    line-height: 30px;
  }
  .footer-top-main .form-group {
    margin-bottom: 15px;
  }
  .footer-top-main .form-group input[type=text] {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
  }
  .footer-top-main .form-group textarea {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
  }
  .footer-top-main .form-group ::-moz-placeholder {
    font-size: 16px;
    line-height: 16px;
  }
  .footer-top-main .form-group ::placeholder {
    font-size: 16px;
    line-height: 16px;
  }
  .footer-top-main .form-group .footer-btn-submit {
    font-size: 16px;
    line-height: 16px;
    padding: 15px 20px;
  }
  .footer-top-main .form-check {
    margin-top: 20px;
  }
  .footer-top-main .form-check label {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-top-main .form-text {
    font-size: 12px;
    line-height: 16px;
  }
  .officina-main .slider-content-box {
    justify-content: center;
  }
  .officina-main .slider-content-box .centerd h1 {
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .officina-main .slider-content-box .centerd h6 {
    font-size: 22px;
    line-height: 32px;
  }
  .officina-main .slider-content-box .centerd h6 br {
    display: none;
  }
  .officina-main .slider-content-box .centerd a {
    font-size: 16px;
  }
  .bdrive-garage-main {
    padding: 60px 0;
  }
  .bdrive-garage-main .image-box img {
    max-width: 250px;
  }
  .private-service-main {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .private-service-main .title-box {
    max-width: 100%;
    padding-bottom: 60px;
  }
  .private-service-main .title-box h3 {
    font-size: 45px;
    line-height: 50px;
  }
  .private-service-main .title-box p {
    font-size: 18px;
    line-height: 25px;
  }
  .private-service-main .title-box p br {
    display: none;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box {
    min-height: 550px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box {
    padding: 50px 30px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box .content-inner h3 {
    font-size: 20px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box .content-inner p {
    font-size: 16px;
    line-height: 20px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box:hover .content-box .content-inner {
    padding-bottom: 0;
  }
  .convenzioni-main {
    padding: 40px 20px 40px 20px;
  }
  .convenzioni-main .content-box h3 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .convenzioni-main .content-box p {
    font-size: 20px;
    line-height: 25px;
  }
  .convenzioni-main .content-box p br {
    display: none;
  }
  .convenzioni-main .content-box ul li::before {
    width: 15px;
    height: 20px;
  }
  .convenzioni-main .content-box ul li a {
    font-size: 25px;
    line-height: 30px;
    padding-left: 22px;
  }
  .convenzioni-main .content-box ul li ul {
    margin-left: 20px;
  }
  .officina-checkup-main {
    padding: 80px 50px;
  }
  .officina-contact-main {
    padding: 40px 20px;
  }
  .officina-contact-main .contact-flex {
    gap: 20px;
  }
  .officina-contact-main .contact-flex .title-box {
    width: 60%;
  }
  .officina-contact-main .contact-flex .title-box h5 {
    margin-bottom: 20px;
  }
  .officina-contact-main .contact-flex .title-box p {
    font-size: 16px;
    line-height: 20px;
  }
  .officina-contact-main .contact-flex .btn-box {
    width: calc(40% - 20px);
  }
  .officina-contact-main .contact-flex .btn-box a {
    font-size: 16px;
    line-height: 20px;
    max-width: 340px;
  }
  .officina-highlight-main {
    padding: 40px 20px;
  }
  .officina-highlight-main .title-box h3 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .officina-highlight-main .title-box p {
    font-size: 20px;
    line-height: 25px;
  }
  .officina-highlight-main .swiper-button-prev {
    left: 47%;
  }
  .officina-highlight-main .swiper-button-next {
    right: 42%;
  }
  .second-service-main {
    padding-top: 0;
  }
  .third-service-main {
    padding-top: 0;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  header .main-header {
    padding: 60px 35px;
  }
  .home-slider-main .slider-content-box {
    padding: 200px 50px 70px 50px;
    justify-content: space-between;
    gap: 39px;
  }
  .home-slider-main .slider-content-box .left-content {
    width: 145px;
  }
  .home-slider-main .slider-content-box .left-content ul li {
    margin-bottom: 5px;
  }
  .home-slider-main .slider-content-box .right-content ul li a {
    font-size: 35px;
    line-height: normal;
    text-align: right;
  }
  .home-slider-main .slider-contact {
    padding-left: 50px;
  }
  footer .footer-main {
    border-top: 1px solid #fff;
    padding: 50px 35px;
  }
  footer .footer-main .footer-left-flex {
    gap: 50px;
  }
  footer .footer-main .footer-left-flex .contents p {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 2px;
  }
  footer .footer-main .footer-links ul {
    justify-content: center;
  }
  .sidebar-main {
    padding: 30px 30px;
  }
  .sidebar-main .sidebar-header .sidebar-header-flex .logo-box {
    width: 140px;
  }
  .sidebar-main .sidebar-links {
    padding-top: 80px;
    gap: 20px;
  }
  .sidebar-main .sidebar-links .top-items ul li {
    margin-bottom: 7px;
  }
  .sidebar-main .sidebar-links .top-items ul li a {
    font-size: 25px;
  }
  .azienda-slider-main {
    height: 900px;
  }
  .azienda-slider-main .swiper-slide .slide-bg {
    height: 900px;
  }
  .azienda-slider-main .slider-content-box {
    padding: 150px 50px 70px 50px;
    justify-content: center;
    gap: 0;
    align-items: center;
  }
  .azienda-slider-main .centerd {
    height: -moz-fit-content;
    height: fit-content;
  }
  .azienda-slider-main .centerd h1 {
    font-size: 68px;
    line-height: 78px;
  }
  .azienda-slider-main .slider-sound-switch {
    display: none;
  }
  .azienda-slider-main .slider-contact {
    position: fixed;
    top: 75%;
    transform: translateY(-50%) rotate(90deg);
    z-index: 999;
    padding: 0;
    right: -85px;
    width: auto;
    bottom: 171px;
    align-items: center;
    left: unset;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .azienda-slider-main .slider-contact p {
    margin-bottom: 0;
    font-size: 15px;
    width: auto;
    margin-right: 25px;
  }
  .azienda-slider-main .slider-contact p::after {
    right: -32px;
    width: 25px;
  }
  .azienda-slider-main .slider-contact a img {
    width: 20px;
    position: relative;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
  .leadership-main {
    padding: 76px 35px;
    padding-bottom: 48px;
  }
  .leadership-main .title-box {
    margin-bottom: 20px;
  }
  .leadership-main .title-box h2 {
    line-height: 67px;
    font-size: 45px;
    letter-spacing: -1.75px;
    margin-bottom: 48px;
  }
  .leadership-main .swiper {
    padding-bottom: 60px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box {
    padding: 0 15px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box .name {
    font-size: 16px;
    line-height: 20px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box .designation {
    font-size: 11px;
    line-height: 16px;
  }
  .leadership-main .swiper .swiper-button-prev {
    left: 47%;
  }
  .leadership-main .swiper .swiper-button-next {
    right: 40%;
  }
  .ohibo-section {
    padding-top: 0;
  }
  .footer-top-main {
    padding: 76px 35px 74px 35px;
  }
  .footer-top-main .title {
    margin-bottom: 25px;
  }
  .footer-top-main .title h4 {
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .footer-top-main .title h6 {
    font-size: 25px;
    line-height: 30px;
  }
  .footer-top-main .form-group {
    margin-bottom: 15px;
  }
  .footer-top-main .form-group input[type=text] {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
  }
  .footer-top-main .form-group textarea {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
  }
  .footer-top-main .form-group ::-moz-placeholder {
    font-size: 16px;
    line-height: 16px;
  }
  .footer-top-main .form-group ::placeholder {
    font-size: 16px;
    line-height: 16px;
  }
  .footer-top-main .form-group .footer-btn-submit {
    font-size: 16px;
    line-height: 16px;
    padding: 15px 20px;
  }
  .footer-top-main .form-check {
    margin-top: 20px;
  }
  .footer-top-main .form-check label {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-top-main .form-text {
    font-size: 12px;
    line-height: 16px;
  }
  .officina-main .slider-content-box {
    justify-content: center;
  }
  .officina-main .slider-content-box .centerd h1 {
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .officina-main .slider-content-box .centerd h6 {
    font-size: 22px;
    line-height: 32px;
  }
  .officina-main .slider-content-box .centerd h6 br {
    display: none;
  }
  .officina-main .slider-content-box .centerd a {
    font-size: 16px;
  }
  .bdrive-garage-main {
    padding: 60px 0;
  }
  .bdrive-garage-main .image-box img {
    max-width: 250px;
  }
  .private-service-main {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .private-service-main .title-box {
    max-width: 100%;
    padding-bottom: 60px;
  }
  .private-service-main .title-box h3 {
    font-size: 45px;
    line-height: 50px;
  }
  .private-service-main .title-box p {
    font-size: 18px;
    line-height: 25px;
  }
  .private-service-main .title-box p br {
    display: none;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box {
    flex-basis: 50%;
    min-height: 400px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box {
    padding: 30px 20px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box .content-inner h3 {
    font-size: 20px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box .content-inner p {
    font-size: 16px;
    line-height: 20px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box:hover .content-box .content-inner {
    padding-bottom: 0;
  }
  .second-service-main .hover-image-parent .hover-image-flex .single-box:nth-child(2) {
    border-right: none;
  }
  .second-service-main .hover-image-parent .hover-image-flex .single-box:nth-child(3) {
    border-left: none;
    border-right: none;
    border-top: 1px solid #fff;
    flex-basis: 100%;
  }
  .third-service-main .hover-image-parent .hover-image-flex .single-box:nth-child(2) {
    border-right: none;
    border-left: 1px solid #fff;
  }
  .third-service-main .hover-image-parent .hover-image-flex .single-box:nth-child(3) {
    border-left: none;
    border-right: none;
    border-top: 1px solid #fff;
    flex-basis: 100%;
  }
  .convenzioni-main {
    padding: 40px 20px 40px 20px;
  }
  .convenzioni-main .content-box h3 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .convenzioni-main .content-box p {
    font-size: 20px;
    line-height: 25px;
  }
  .convenzioni-main .content-box p br {
    display: none;
  }
  .convenzioni-main .content-box ul li::before {
    width: 15px;
    height: 20px;
  }
  .convenzioni-main .content-box ul li a {
    font-size: 25px;
    line-height: 30px;
    padding-left: 22px;
  }
  .convenzioni-main .content-box ul li ul {
    margin-left: 20px;
  }
  .officina-checkup-main {
    padding: 80px 50px;
  }
  .officina-contact-main {
    padding: 40px 20px;
  }
  .officina-contact-main .contact-flex {
    gap: 20px;
  }
  .officina-contact-main .contact-flex .title-box {
    width: 60%;
  }
  .officina-contact-main .contact-flex .title-box h5 {
    margin-bottom: 20px;
  }
  .officina-contact-main .contact-flex .title-box p {
    font-size: 16px;
    line-height: 20px;
  }
  .officina-contact-main .contact-flex .btn-box {
    width: calc(40% - 20px);
  }
  .officina-contact-main .contact-flex .btn-box a {
    font-size: 16px;
    line-height: 20px;
    max-width: 340px;
  }
  .officina-highlight-main {
    padding: 40px 20px;
  }
  .officina-highlight-main .title-box h3 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .officina-highlight-main .title-box p {
    font-size: 20px;
    line-height: 25px;
  }
  .officina-highlight-main .swiper-button-prev {
    left: 47%;
  }
  .officina-highlight-main .swiper-button-next {
    right: 42%;
  }
  .second-service-main {
    padding-top: 0;
  }
  .third-service-main {
    padding-top: 0;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  header .main-header {
    padding: 60px 35px;
  }
  .home-slider-main .slider-content-box {
    padding: 200px 50px 70px 50px;
    justify-content: space-between;
    gap: 39px;
  }
  .home-slider-main .slider-content-box .left-content {
    width: 145px;
  }
  .home-slider-main .slider-content-box .left-content ul li {
    margin-bottom: 5px;
  }
  .home-slider-main .slider-content-box .right-content ul li a {
    font-size: 35px;
    line-height: normal;
    text-align: right;
  }
  .home-slider-main .slider-contact {
    padding-left: 50px;
  }
  footer .footer-main {
    border-top: 1px solid #fff;
    padding: 50px 35px;
  }
  footer .footer-main .footer-left-flex {
    gap: 50px;
    margin-bottom: 45px;
  }
  footer .footer-main .footer-left-flex .contents p {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 2px;
  }
  footer .footer-main .footer-links ul {
    justify-content: center;
  }
  .sidebar-main {
    padding: 30px 30px;
  }
  .sidebar-main .sidebar-header .sidebar-header-flex .logo-box {
    width: 140px;
  }
  .sidebar-main .sidebar-links {
    padding-top: 80px;
    gap: 20px;
  }
  .sidebar-main .sidebar-links .top-items ul li {
    margin-bottom: 7px;
  }
  .sidebar-main .sidebar-links .top-items ul li a {
    font-size: 25px;
  }
  .azienda-slider-main {
    height: 850px;
  }
  .azienda-slider-main .swiper-slide .slide-bg {
    height: 850px;
  }
  .azienda-slider-main .slider-content-box {
    padding: 150px 50px 70px 50px;
    justify-content: center;
    gap: 0;
    align-items: center;
  }
  .azienda-slider-main .centerd {
    height: -moz-fit-content;
    height: fit-content;
  }
  .azienda-slider-main .centerd h1 {
    font-size: 68px;
    line-height: 78px;
  }
  .azienda-slider-main .slider-sound-switch {
    display: none;
  }
  .azienda-slider-main .slider-contact {
    position: fixed;
    top: 75%;
    transform: translateY(-50%) rotate(90deg);
    z-index: 999;
    padding: 0;
    right: -85px;
    width: auto;
    bottom: 171px;
    align-items: center;
    left: unset;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .azienda-slider-main .slider-contact p {
    margin-bottom: 0;
    font-size: 15px;
    width: auto;
    margin-right: 25px;
  }
  .azienda-slider-main .slider-contact p::after {
    right: -32px;
    width: 25px;
  }
  .azienda-slider-main .slider-contact a img {
    width: 20px;
    position: relative;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
  .leadership-main {
    padding: 76px 35px;
    padding-bottom: 48px;
  }
  .leadership-main .title-box {
    margin-bottom: 20px;
  }
  .leadership-main .title-box h2 {
    line-height: 67px;
    font-size: 45px;
    letter-spacing: -1.75px;
    margin-bottom: 48px;
  }
  .leadership-main .swiper {
    padding-bottom: 60px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box {
    padding: 0 15px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box .name {
    font-size: 16px;
    line-height: 20px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box .designation {
    font-size: 11px;
    line-height: 16px;
  }
  .leadership-main .swiper .swiper-button-prev {
    left: 47%;
  }
  .leadership-main .swiper .swiper-button-next {
    right: 40%;
  }
  .ohibo-section {
    padding-top: 0;
  }
  .footer-top-main {
    padding: 76px 35px 74px 35px;
  }
  .footer-top-main .title {
    margin-bottom: 25px;
  }
  .footer-top-main .title h4 {
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .footer-top-main .title h6 {
    font-size: 25px;
    line-height: 30px;
  }
  .footer-top-main .title h6 br {
    display: none;
  }
  .footer-top-main .form-group {
    margin-bottom: 15px;
  }
  .footer-top-main .form-group input[type=text] {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
  }
  .footer-top-main .form-group textarea {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
  }
  .footer-top-main .form-group ::-moz-placeholder {
    font-size: 16px;
    line-height: 16px;
  }
  .footer-top-main .form-group ::placeholder {
    font-size: 16px;
    line-height: 16px;
  }
  .footer-top-main .form-group .footer-btn-submit {
    font-size: 16px;
    line-height: 16px;
    padding: 15px 20px;
  }
  .footer-top-main .form-check {
    margin-top: 20px;
  }
  .footer-top-main .form-check label {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-top-main .form-text {
    font-size: 12px;
    line-height: 16px;
  }
  .officina-main .slider-content-box {
    justify-content: center;
  }
  .officina-main .slider-content-box .centerd h1 {
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .officina-main .slider-content-box .centerd h6 {
    font-size: 22px;
    line-height: 32px;
  }
  .officina-main .slider-content-box .centerd h6 br {
    display: none;
  }
  .officina-main .slider-content-box .centerd a {
    font-size: 16px;
  }
  .bdrive-garage-main {
    padding: 60px 0;
  }
  .bdrive-garage-main .image-box img {
    max-width: 250px;
  }
  .private-service-main {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .private-service-main .title-box {
    max-width: 100%;
    padding-bottom: 60px;
  }
  .private-service-main .title-box h3 {
    font-size: 45px;
    line-height: 50px;
  }
  .private-service-main .title-box p {
    font-size: 18px;
    line-height: 25px;
  }
  .private-service-main .title-box p br {
    display: none;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box {
    flex-basis: 50%;
    min-height: 400px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box {
    padding: 30px 20px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box .content-inner h3 {
    font-size: 20px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box .content-inner p {
    font-size: 16px;
    line-height: 20px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box:hover .content-box .content-inner {
    padding-bottom: 0;
  }
  .second-service-main .hover-image-parent .hover-image-flex .single-box:nth-child(2) {
    border-right: none;
  }
  .second-service-main .hover-image-parent .hover-image-flex .single-box:nth-child(3) {
    border-left: none;
    border-right: none;
    border-top: 1px solid #fff;
    flex-basis: 100%;
  }
  .third-service-main .hover-image-parent .hover-image-flex .single-box:nth-child(2) {
    border-right: none;
    border-left: 1px solid #fff;
  }
  .third-service-main .hover-image-parent .hover-image-flex .single-box:nth-child(3) {
    border-left: none;
    border-right: none;
    border-top: 1px solid #fff;
    flex-basis: 100%;
  }
  .convenzioni-main {
    padding: 40px 20px 40px 20px;
  }
  .convenzioni-main .content-box h3 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .convenzioni-main .content-box p {
    font-size: 20px;
    line-height: 25px;
  }
  .convenzioni-main .content-box p br {
    display: none;
  }
  .convenzioni-main .content-box ul li::before {
    width: 15px;
    height: 20px;
  }
  .convenzioni-main .content-box ul li a {
    font-size: 25px;
    line-height: 30px;
    padding-left: 22px;
  }
  .convenzioni-main .content-box ul li ul {
    margin-left: 20px;
  }
  .officina-checkup-main {
    padding: 40px 0px;
  }
  .officina-contact-main {
    padding: 40px 20px;
  }
  .officina-contact-main .contact-flex {
    gap: 20px;
  }
  .officina-contact-main .contact-flex .title-box {
    width: 60%;
  }
  .officina-contact-main .contact-flex .title-box h5 {
    margin-bottom: 20px;
  }
  .officina-contact-main .contact-flex .title-box p {
    font-size: 16px;
    line-height: 20px;
  }
  .officina-contact-main .contact-flex .btn-box {
    width: calc(40% - 20px);
  }
  .officina-contact-main .contact-flex .btn-box a {
    font-size: 16px;
    line-height: 20px;
    max-width: 340px;
  }
  .officina-highlight-main {
    padding: 40px 20px;
  }
  .officina-highlight-main .title-box h3 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .officina-highlight-main .title-box p {
    font-size: 20px;
    line-height: 25px;
  }
  .officina-highlight-main .swiper-button-prev {
    left: 47%;
  }
  .officina-highlight-main .swiper-button-next {
    right: 42%;
  }
  .second-service-main {
    padding-top: 0;
  }
  .third-service-main {
    padding-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header .main-header {
    padding: 60px 35px;
  }
  .home-slider-main .slider-content-box {
    padding: 200px 50px 70px 50px;
    justify-content: space-between;
    gap: 39px;
  }
  .home-slider-main .slider-content-box .left-content {
    width: 145px;
  }
  .home-slider-main .slider-content-box .left-content ul li {
    margin-bottom: 5px;
  }
  .home-slider-main .slider-content-box .right-content ul li a {
    font-size: 26px;
    line-height: normal;
    text-align: right;
  }
  .home-slider-main .slider-contact {
    padding-left: 50px;
  }
  footer .footer-main {
    border-top: 1px solid #fff;
    padding: 50px 35px;
  }
  footer .footer-main .footer-left-flex {
    gap: 50px;
    margin-bottom: 50px;
  }
  footer .footer-main .footer-left-flex .logo-box {
    width: 120px;
  }
  footer .footer-main .footer-left-flex .contents p {
    margin-bottom: 0;
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 2px;
  }
  footer .footer-main .footer-links ul {
    justify-content: center;
  }
  .sidebar-main {
    padding: 30px 30px;
  }
  .sidebar-main .sidebar-header .sidebar-header-flex .logo-box {
    width: 140px;
  }
  .sidebar-main .sidebar-links {
    padding-top: 80px;
    gap: 20px;
  }
  .sidebar-main .sidebar-links .top-items ul li {
    margin-bottom: 7px;
  }
  .sidebar-main .sidebar-links .top-items ul li a {
    font-size: 25px;
  }
  .azienda-slider-main {
    height: 725px;
  }
  .azienda-slider-main .swiper-slide .slide-bg {
    height: 725px;
  }
  .azienda-slider-main .slider-content-box {
    padding: 150px 50px 70px 50px;
    justify-content: center;
    gap: 0;
    align-items: center;
  }
  .azienda-slider-main .centerd {
    height: -moz-fit-content;
    height: fit-content;
  }
  .azienda-slider-main .centerd h1 {
    font-size: 68px;
    line-height: 78px;
  }
  .azienda-slider-main .slider-sound-switch {
    display: none;
  }
  .azienda-slider-main .slider-contact {
    position: fixed;
    top: 75%;
    transform: translateY(-50%) rotate(90deg);
    z-index: 999;
    padding: 0;
    right: -85px;
    width: auto;
    bottom: 171px;
    align-items: center;
    left: unset;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .azienda-slider-main .slider-contact p {
    margin-bottom: 0;
    font-size: 15px;
    width: auto;
    margin-right: 25px;
  }
  .azienda-slider-main .slider-contact p::after {
    right: -32px;
    width: 25px;
  }
  .azienda-slider-main .slider-contact a img {
    width: 20px;
    position: relative;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
  .leadership-main {
    padding: 76px 35px;
    padding-bottom: 48px;
  }
  .leadership-main .title-box {
    margin-bottom: 20px;
  }
  .leadership-main .title-box h2 {
    line-height: 67px;
    font-size: 45px;
    letter-spacing: -1.75px;
    margin-bottom: 48px;
  }
  .leadership-main .swiper {
    padding-bottom: 60px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box {
    padding: 0 15px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box .name {
    font-size: 16px;
    line-height: 20px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box .designation {
    font-size: 11px;
    line-height: 16px;
  }
  .leadership-main .swiper .swiper-button-prev {
    left: 47%;
  }
  .leadership-main .swiper .swiper-button-next {
    right: 40%;
  }
  .ohibo-section {
    padding-top: 0;
  }
  .footer-top-main {
    padding: 76px 35px 74px 35px;
  }
  .footer-top-main .title {
    margin-bottom: 25px;
  }
  .footer-top-main .title h4 {
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .footer-top-main .title h6 {
    font-size: 25px;
    line-height: 30px;
  }
  .footer-top-main .title h6 br {
    display: none;
  }
  .footer-top-main .form-group {
    margin-bottom: 15px;
  }
  .footer-top-main .form-group input[type=text] {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
  }
  .footer-top-main .form-group textarea {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
  }
  .footer-top-main .form-group ::-moz-placeholder {
    font-size: 16px;
    line-height: 16px;
  }
  .footer-top-main .form-group ::placeholder {
    font-size: 16px;
    line-height: 16px;
  }
  .footer-top-main .form-group .footer-btn-submit {
    font-size: 16px;
    line-height: 16px;
    padding: 15px 20px;
  }
  .footer-top-main .form-check {
    margin-top: 20px;
  }
  .footer-top-main .form-check label {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-top-main .form-text {
    font-size: 12px;
    line-height: 16px;
  }
  .officina-main .slider-content-box {
    justify-content: center;
  }
  .officina-main .slider-content-box .centerd h1 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  .officina-main .slider-content-box .centerd h6 {
    font-size: 18px;
    line-height: 25px;
  }
  .officina-main .slider-content-box .centerd h6 br {
    display: none;
  }
  .officina-main .slider-content-box .centerd a {
    font-size: 16px;
  }
  .bdrive-garage-main {
    padding: 40px 0;
  }
  .bdrive-garage-main .image-box img {
    max-width: 250px;
  }
  .private-service-main {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .private-service-main .title-box {
    max-width: 100%;
    padding-bottom: 40px;
  }
  .private-service-main .title-box h3 {
    font-size: 35px;
    line-height: 40px;
  }
  .private-service-main .title-box p {
    font-size: 18px;
    line-height: 25px;
  }
  .private-service-main .title-box p br {
    display: none;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box {
    flex-basis: 50%;
    min-height: 400px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box {
    padding: 30px 20px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box .content-inner h3 {
    font-size: 20px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box .content-inner p {
    font-size: 16px;
    line-height: 20px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box:hover .content-box .content-inner {
    padding-bottom: 0;
  }
  .second-service-main .hover-image-parent .hover-image-flex .single-box:nth-child(2) {
    border-right: none;
  }
  .second-service-main .hover-image-parent .hover-image-flex .single-box:nth-child(3) {
    border-left: none;
    border-right: none;
    border-top: 1px solid #fff;
    flex-basis: 100%;
  }
  .third-service-main .hover-image-parent .hover-image-flex .single-box:nth-child(2) {
    border-right: none;
    border-left: 1px solid #fff;
  }
  .third-service-main .hover-image-parent .hover-image-flex .single-box:nth-child(3) {
    border-left: none;
    border-right: none;
    border-top: 1px solid #fff;
    flex-basis: 100%;
  }
  .convenzioni-main {
    padding: 40px 20px 40px 20px;
  }
  .convenzioni-main .content-box h3 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .convenzioni-main .content-box p {
    font-size: 16px;
    line-height: 20px;
  }
  .convenzioni-main .content-box p br {
    display: none;
  }
  .convenzioni-main .content-box ul li::before {
    width: 15px;
    height: 20px;
  }
  .convenzioni-main .content-box ul li a {
    font-size: 20px;
    line-height: 25px;
    padding-left: 22px;
  }
  .convenzioni-main .content-box ul li ul {
    margin-left: 20px;
  }
  .officina-checkup-main {
    padding: 40px 0px;
  }
  .officina-contact-main {
    padding: 40px 20px;
  }
  .officina-contact-main .contact-flex {
    gap: 20px;
  }
  .officina-contact-main .contact-flex .title-box {
    width: 60%;
  }
  .officina-contact-main .contact-flex .title-box h5 {
    margin-bottom: 20px;
  }
  .officina-contact-main .contact-flex .title-box p {
    font-size: 16px;
    line-height: 20px;
  }
  .officina-contact-main .contact-flex .btn-box {
    width: calc(40% - 20px);
  }
  .officina-contact-main .contact-flex .btn-box a {
    font-size: 16px;
    line-height: 20px;
    max-width: 340px;
  }
  .officina-highlight-main {
    padding: 40px 20px;
  }
  .officina-highlight-main .title-box h3 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .officina-highlight-main .title-box p {
    font-size: 16px;
    line-height: 20px;
  }
  .officina-highlight-main .swiper-button-prev {
    left: 43%;
  }
  .officina-highlight-main .swiper-button-next {
    right: 33%;
  }
  .second-service-main {
    padding-top: 0;
  }
  .third-service-main {
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  .home-slider-main .slider-sound-switch {
    display: none;
  }
}
@media (max-width: 767px) {
  header .main-header {
    padding: 20px 11px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  header .main-header .header-flex .logo-box {
    width: 118px;
  }
  header .main-header .header-flex .logo-box img {
    max-width: 100%;
  }
  header .main-header .header-flex .main-header-items .header-items-flex .single-item:nth-child(1) {
    display: none;
  }
  .home-slider-main .slider-content-box {
    padding: 200px 26px 70px 26px;
    justify-content: unset;
    gap: 39px;
    flex-direction: column;
  }
  .home-slider-main .slider-content-box .left-content {
    width: 100%;
    order: 2;
  }
  .home-slider-main .slider-content-box .left-content h2 {
    display: none;
  }
  .home-slider-main .slider-content-box .left-content ul li {
    margin-bottom: 0;
  }
  .home-slider-main .slider-content-box .right-content {
    width: 100%;
  }
  .home-slider-main .slider-content-box .right-content ul li {
    margin-bottom: 17px;
    text-align: left;
  }
  .home-slider-main .slider-content-box .right-content ul li a {
    font-size: 26px;
    line-height: normal;
    text-align: right;
  }
  .home-slider-main .slider-contact {
    padding: 0;
    transform: rotate(90deg);
    right: -70px;
    width: auto;
    bottom: 171px;
    align-items: center;
    left: unset;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .home-slider-main .slider-contact p {
    margin-bottom: 0;
    font-size: 12px;
    width: auto;
    margin-right: 25px;
  }
  .home-slider-main .slider-contact p::after {
    right: -32px;
    width: 25px;
  }
  .home-slider-main .slider-contact a img {
    width: 17px;
    position: relative;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
  footer .footer-main {
    padding: 47px 11px 47px 11px;
    border-width: 1px;
  }
  footer .footer-main .footer-left-flex {
    margin-bottom: 24px;
    gap: 24px;
  }
  footer .footer-main .footer-left-flex .logo-box {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  footer .footer-main .footer-left-flex .logo-box img {
    width: 82px;
  }
  footer .footer-main .footer-left-flex .logo-box p {
    display: unset;
    line-height: normal;
    font-size: 12px;
    position: relative;
    top: 2px;
  }
  footer .footer-main .footer-left-flex .contents {
    width: 100%;
  }
  footer .footer-main .footer-left-flex .contents p {
    line-height: normal;
    font-size: 10px;
    text-align: center;
    margin-bottom: 5px;
  }
  footer .footer-main .footer-left-flex .contents p:nth-child(1) {
    display: none;
  }
  footer .footer-main .footer-links ul {
    justify-content: space-between;
    gap: unset;
  }
  footer .footer-main .footer-links ul li a {
    font-size: 12px;
    line-height: 12px;
  }
  .sidebar-main {
    padding: 30px 30px;
  }
  .sidebar-main .sidebar-header .sidebar-header-flex .logo-box {
    width: 120px;
  }
  .sidebar-main .sidebar-links {
    padding-top: 80px;
    gap: 20px;
  }
  .sidebar-main .sidebar-links .top-items ul li {
    margin-bottom: 7px;
  }
  .sidebar-main .sidebar-links .top-items ul li a {
    font-size: 20px;
  }
  .azienda-slider-main {
    height: 553px;
  }
  .azienda-slider-main .swiper-slide .slide-bg {
    height: 553px;
  }
  .azienda-slider-main .centerd h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .azienda-slider-main .slider-sound-switch {
    display: none;
  }
  .azienda-slider-main .slider-contact {
    position: fixed;
    top: 75%;
    transform: translateY(-50%) rotate(90deg);
    z-index: 999;
  }
  .leadership-main {
    padding: 40px 20px;
    padding-bottom: 30px;
  }
  .leadership-main .title-box {
    margin-bottom: 20px;
  }
  .leadership-main .title-box h2 {
    line-height: 36px;
    font-size: 22px;
    letter-spacing: -0.86px;
    margin-bottom: 16px;
  }
  .leadership-main .title-box h6 {
    font-size: 14px;
    line-height: 14px;
  }
  .leadership-main .swiper {
    padding-bottom: 60px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box {
    padding: 0 15px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box .name {
    font-size: 16px;
    line-height: 20px;
  }
  .leadership-main .swiper .swiper-slide .single-leader-box .content-box .designation {
    font-size: 11px;
    line-height: 16px;
  }
  .leadership-main .swiper .swiper-button-prev {
    height: 30px;
    width: 30px;
    left: 40%;
  }
  .leadership-main .swiper .swiper-button-prev::after {
    font-size: 14px;
  }
  .leadership-main .swiper .swiper-button-next {
    height: 30px;
    width: 30px;
    right: 31%;
  }
  .leadership-main .swiper .swiper-button-next::after {
    font-size: 14px;
  }
  .ohibo-section {
    padding-top: 0;
  }
  .footer-top-main {
    padding: 48px 20px 44px 20px;
  }
  .footer-top-main .title {
    margin-bottom: 25px;
  }
  .footer-top-main .title h4 {
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .footer-top-main .title h6 {
    font-size: 20px;
    line-height: 26px;
  }
  .footer-top-main .form-group input[type=text] {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
  }
  .footer-top-main .form-group textarea {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
  }
  .footer-top-main .form-group ::-moz-placeholder {
    font-size: 16px;
    line-height: 16px;
  }
  .footer-top-main .form-group ::placeholder {
    font-size: 16px;
    line-height: 16px;
  }
  .footer-top-main .form-group .footer-btn-submit {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
  }
  .footer-top-main .form-check label {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-top-main .form-text {
    font-size: 12px;
    line-height: 16px;
  }
  .officina-main .slider-content-box {
    justify-content: center;
  }
  .officina-main .slider-content-box .centerd h1 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  .officina-main .slider-content-box .centerd h6 {
    font-size: 18px;
    line-height: 25px;
  }
  .officina-main .slider-content-box .centerd h6 br {
    display: none;
  }
  .officina-main .slider-content-box .centerd a {
    font-size: 16px;
  }
  .bdrive-garage-main {
    padding: 40px 0;
  }
  .bdrive-garage-main .image-box img {
    max-width: 250px;
  }
  .private-service-main {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .private-service-main .title-box {
    max-width: 100%;
    padding-bottom: 40px;
  }
  .private-service-main .title-box h3 {
    font-size: 35px;
    line-height: 40px;
  }
  .private-service-main .title-box p {
    font-size: 18px;
    line-height: 25px;
  }
  .private-service-main .title-box p br {
    display: none;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box {
    flex-basis: 100%;
    min-height: 400px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid #fff;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box {
    padding: 30px 20px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box .content-inner h3 {
    font-size: 20px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box .content-box .content-inner p {
    font-size: 16px;
    line-height: 20px;
  }
  .private-service-main .hover-image-parent .hover-image-flex .single-box:hover .content-box .content-inner {
    padding-bottom: 0;
  }
  .second-service-main .hover-image-parent .hover-image-flex .single-box:nth-child(2) {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
  }
  .third-service-main .hover-image-parent .hover-image-flex .single-box:nth-child(2) {
    border-right: none;
    border-bottom: 1px solid #fff;
  }
  .convenzioni-main {
    padding: 40px 20px 40px 20px;
  }
  .convenzioni-main .content-box h3 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .convenzioni-main .content-box p {
    font-size: 16px;
    line-height: 20px;
  }
  .convenzioni-main .content-box p br {
    display: none;
  }
  .convenzioni-main .content-box ul li::before {
    width: 15px;
    height: 20px;
  }
  .convenzioni-main .content-box ul li a {
    font-size: 20px;
    line-height: 25px;
    padding-left: 22px;
  }
  .convenzioni-main .content-box ul li ul {
    margin-left: 20px;
  }
  .officina-checkup-main {
    padding: 40px 0px;
  }
  .officina-contact-main {
    padding: 40px 20px;
  }
  .officina-contact-main .contact-flex {
    gap: 20px;
  }
  .officina-contact-main .contact-flex .title-box {
    width: 100%;
  }
  .officina-contact-main .contact-flex .title-box h5 {
    margin-bottom: 20px;
  }
  .officina-contact-main .contact-flex .title-box p {
    font-size: 16px;
    line-height: 20px;
  }
  .officina-contact-main .contact-flex .btn-box a {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    max-width: 340px;
  }
  .officina-highlight-main {
    padding: 40px 20px;
  }
  .officina-highlight-main .title-box h3 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .officina-highlight-main .title-box p {
    font-size: 16px;
    line-height: 20px;
  }
  .officina-highlight-main .swiper-button-prev {
    left: 43%;
  }
  .officina-highlight-main .swiper-button-next {
    right: 33%;
  }
  .second-service-main {
    padding-top: 0;
  }
  .third-service-main {
    padding-top: 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  footer .footer-main .footer-links ul {
    gap: 14px;
    justify-content: center;
  }
}
@media (min-width: 415px) and (max-width: 575px) {
  footer .footer-main .footer-links ul {
    gap: 14px;
    justify-content: center;
  }
}/*# sourceMappingURL=responsive.css.map */