@media (min-width: 1441px) and (max-width: 1700px) {
  header {
    .main-header {
      padding: 60px 35px;
    }
  }
  .home-slider-main {
    .slider-content-box {
      padding: 200px 50px 140px 50px;
      justify-content: space-between;
      gap: 39px;

      .left-content {
        width: 145px;
        ul {
          li {
            margin-bottom: 5px;
          }
        }
      }
      .right-content {
        ul {
          li {
            a {
              font-size: 40px;
              line-height: normal;
              text-align: right;
            }
          }
        }
      }
    }
    .slider-contact {
      padding-left: 50px;
    }
  }

  footer {
    .footer-main {
      padding: 50px 50px 50px 50px;
      .footer-left-flex {
        .contents {
          p {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
      .footer-links {
        ul {
          gap: 20px;
        }
      }
    }
  }

  .sidebar-main {
    padding: 30px 40px;
    .sidebar-header {
      .sidebar-header-flex {
        .logo-box {
          width: 140px;
        }
      }
    }
    .sidebar-links {
      padding-top: 80px;
      gap: 20px;
      .top-items {
        ul {
          li {
            font-size: 28px;
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}
// min width 1441px and max width 1550px ends here

@media (min-width: 1366px) and (max-width: 1440px) {
  header {
    .main-header {
      padding: 60px 35px;
    }
  }
  .home-slider-main {
    .slider-content-box {
      padding: 200px 50px 140px 50px;
      justify-content: space-between;
      gap: 39px;

      .left-content {
        width: 145px;
        ul {
          li {
            margin-bottom: 5px;
          }
        }
      }
      .right-content {
        ul {
          li {
            a {
              font-size: 40px;
              line-height: normal;
              text-align: right;
            }
          }
        }
      }
    }
    .slider-contact {
      padding-left: 50px;
    }
  }

  footer {
    .footer-main {
      padding: 50px 50px 50px 50px;
      .footer-left-flex {
        .contents {
          p {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
      .footer-links {
        ul {
          gap: 20px;
        }
      }
    }
  }
  .sidebar-main {
    padding: 30px 40px;
    .sidebar-header {
      .sidebar-header-flex {
        .logo-box {
          width: 140px;
        }
      }
    }
    .sidebar-links {
      padding-top: 80px;
      gap: 20px;
      .top-items {
        ul {
          li {
            margin-bottom: 10px;
            a {
              font-size: 27px;
            }
          }
        }
      }
    }
  }
}
// min width 1366px and max width 1440px ends here

@media (min-width: 1300px) and (max-width: 1365px) {
  header {
    .main-header {
      padding: 60px 35px;
    }
  }
  .home-slider-main {
    .slider-content-box {
      padding: 200px 50px 140px 50px;
      justify-content: space-between;
      gap: 39px;

      .left-content {
        width: 145px;
        ul {
          li {
            margin-bottom: 5px;
          }
        }
      }
      .right-content {
        ul {
          li {
            a {
              font-size: 40px;
              line-height: normal;
              text-align: right;
            }
          }
        }
      }
    }
    .slider-contact {
      padding-left: 50px;
      max-width: 207px;
    }
  }

  footer {
    .footer-main {
      padding: 50px 50px 50px 50px;
      .footer-left-flex {
        .contents {
          p {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
      .footer-links {
        ul {
          gap: 20px;
        }
      }
    }
  }
  .sidebar-main {
    padding: 30px 40px;
    .sidebar-header {
      .sidebar-header-flex {
        .logo-box {
          width: 140px;
        }
      }
    }
    .sidebar-links {
      padding-top: 80px;
      gap: 20px;
      .top-items {
        ul {
          li {
            margin-bottom: 10px;
            a {
              font-size: 27px;
            }
          }
        }
      }
    }
  }
}
// min width 1300px and max width 1365px ends here

@media (min-width: 1300px) {
}

// min widht 1300px ends here

@media (max-width: 1299px) {
}

// max widht 1299px ends here

@media (min-width: 1025px) and (max-width: 1299px) {
  header {
    .main-header {
      padding: 60px 35px;
    }
  }
  .home-slider-main {
    .slider-content-box {
      padding: 200px 50px 70px 50px;
      justify-content: space-between;
      gap: 39px;

      .left-content {
        width: 145px;
        ul {
          li {
            margin-bottom: 5px;
          }
        }
      }
      .right-content {
        ul {
          li {
            a {
              font-size: 35px;
              line-height: normal;
              text-align: right;
            }
          }
        }
      }
    }
    .slider-contact {
      padding-left: 50px;
    }
  }

  footer {
    .footer-main {
      border-top: 1px solid #fff;
      padding: 50px 35px;
      .footer-left-flex {
        gap: 50px;
        .contents {
          p {
            margin-bottom: 0;
            font-size: 15px;
            line-height: 22px;
            margin-bottom: 2px;
          }
        }
      }
      .footer-links {
        ul {
          justify-content: center;
        }
      }
    }
  }
  .sidebar-main {
    padding: 30px 30px;
    .sidebar-header {
      .sidebar-header-flex {
        .logo-box {
          width: 140px;
        }
      }
    }
    .sidebar-links {
      padding-top: 80px;
      gap: 20px;
      .top-items {
        ul {
          li {
            margin-bottom: 7px;
            a {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}

// min width 1025px and max width 1299px ends here

@media (min-width: 992px) and (max-width: 1024px) {
  header {
    .main-header {
      padding: 60px 35px;
    }
  }
  .home-slider-main {
    .slider-content-box {
      padding: 200px 50px 70px 50px;
      justify-content: space-between;
      gap: 39px;

      .left-content {
        width: 145px;
        ul {
          li {
            margin-bottom: 5px;
          }
        }
      }
      .right-content {
        ul {
          li {
            a {
              font-size: 35px;
              line-height: normal;
              text-align: right;
            }
          }
        }
      }
    }
    .slider-contact {
      padding-left: 50px;
    }
  }

  footer {
    .footer-main {
      border-top: 1px solid #fff;
      padding: 50px 35px;
      .footer-left-flex {
        gap: 50px;
        margin-bottom: 45px;

        .contents {
          p {
            margin-bottom: 0;
            font-size: 15px;
            line-height: 22px;
            margin-bottom: 2px;
          }
        }
      }
      .footer-links {
        ul {
          justify-content: center;
        }
      }
    }
  }

  .sidebar-main {
    padding: 30px 30px;
    .sidebar-header {
      .sidebar-header-flex {
        .logo-box {
          width: 140px;
        }
      }
    }
    .sidebar-links {
      padding-top: 80px;
      gap: 20px;
      .top-items {
        ul {
          li {
            margin-bottom: 7px;
            a {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}

// min width 992px and max width 1024px ends here

@media (min-width: 768px) and (max-width: 991px) {
  header {
    .main-header {
      padding: 60px 35px;
    }
  }
  .home-slider-main {
    .slider-content-box {
      padding: 200px 50px 70px 50px;
      justify-content: space-between;
      gap: 39px;

      .left-content {
        width: 145px;
        ul {
          li {
            margin-bottom: 5px;
          }
        }
      }
      .right-content {
        ul {
          li {
            a {
              font-size: 26px;
              line-height: normal;
              text-align: right;
            }
          }
        }
      }
    }
    .slider-contact {
      padding-left: 50px;
    }
  }

  footer {
    .footer-main {
      border-top: 1px solid #fff;
      padding: 50px 35px;
      .footer-left-flex {
        gap: 50px;
        margin-bottom: 50px;
        .logo-box {
          width: 120px;
        }
        .contents {
          p {
            margin-bottom: 0;
            font-size: 10px;
            line-height: 15px;
            margin-bottom: 2px;
          }
        }
      }
      .footer-links {
        ul {
          justify-content: center;
        }
      }
    }
  }

  .sidebar-main {
    padding: 30px 30px;
    .sidebar-header {
      .sidebar-header-flex {
        .logo-box {
          width: 140px;
        }
      }
    }
    .sidebar-links {
      padding-top: 80px;
      gap: 20px;
      .top-items {
        ul {
          li {
            margin-bottom: 7px;
            a {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}

// min width 768px and max width 991px ends here

@media (min-width: 768px) {
  .home-slider-main {
    .slider-sound-switch {
      display: none;
    }
  }
}
// max widht 768px ends here

@media (max-width: 767px) {
  header {
    .main-header {
      padding: 20px 11px;
      padding-top: 70px;
      padding-bottom: 70px;
      .header-flex {
        .logo-box {
          width: 118px;
          img {
            max-width: 100%;
          }
        }
        .main-header-items {
          .header-items-flex {
            .single-item {
              &:nth-child(1) {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .home-slider-main {
    .slider-content-box {
      padding: 200px 26px 70px 26px;
      justify-content: unset;
      gap: 39px;
      flex-direction: column;
      .left-content {
        width: 100%;
        order: 2;
        h2 {
          display: none;
        }
        ul {
          li {
            margin-bottom: 0;
          }
        }
      }
      .right-content {
        width: 100%;

        ul {
          li {
            margin-bottom: 17px;
            text-align: left;
            a {
              font-size: 26px;
              line-height: normal;
              text-align: right;
            }
          }
        }
      }
    }
    .slider-contact {
      padding: 0;
      transform: rotate(90deg);
      right: -70px;
      width: auto;
      bottom: 171px;
      align-items: center;
      left: unset;
      max-width: fit-content;
      p {
        margin-bottom: 0;
        font-size: 12px;
        width: auto;
        margin-right: 25px;
        &::after {
          right: -32px;
          width: 25px;
        }
      }
      a {
        img {
          width: 17px;
          position: relative;
          transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
        }
      }
    }
  }

  footer {
    .footer-main {
      padding: 47px 11px 47px 11px;
      border-width: 1px;
      .footer-left-flex {
        margin-bottom: 24px;
        gap: 24px;
        .logo-box {
          width: 100%;
          display: flex;
          gap: 20px;
          align-items: center;
          justify-content: center;
          img {
            width: 82px;
          }
          p {
            display: unset;
            line-height: normal;
            font-size: 12px;
            position: relative;
            top: 2px;
          }
        }
        .contents {
          width: 100%;
          p {
            line-height: normal;
            font-size: 10px;
            text-align: center;
            margin-bottom: 5px;
            &:nth-child(1) {
              display: none;
            }
          }
        }
      }
      .footer-links {
        ul {
          justify-content: space-between;
          gap: unset;
          li {
            a {
              font-size: 12px;
              line-height: 12px;
            }
          }
        }
      }
    }
  }

  .sidebar-main {
    padding: 30px 30px;
    .sidebar-header {
      .sidebar-header-flex {
        .logo-box {
          width: 120px;
        }
      }
    }
    .sidebar-links {
      padding-top: 80px;
      gap: 20px;
      .top-items {
        ul {
          li {
            margin-bottom: 7px;
            a {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .azienda-slider-main {
    height: 553px;
    .swiper-slide {
      .slide-bg {
        height: 100%;
      }
    }
    .centerd {
      h1 {
        font-size: 35px;
        line-height: 40px;
      }
    }
    .slider-sound-switch {
      display: none;
    }
    .slider-contact {
      bottom: 0;
    }
    .slider-content-box {
      justify-content: center !important;
      flex-direction: unset;
    }
  }
}

// max widht 767px ends here

@media (min-width: 576px) and (max-width: 767px) {
  footer {
    .footer-main {
      .footer-links {
        ul {
          gap: 14px;
          justify-content: center;
        }
      }
    }
  }
}
// min width 576px and max width 767px ends here

@media (max-width: 575px) {
}

@media (min-width: 415px) and (max-width: 575px) {
  footer {
    .footer-main {
      .footer-links {
        ul {
          gap: 14px;
          justify-content: center;
        }
      }
    }
  }
}
// min width 415px and max width 575px ends here

@media (max-width: 414px) {
}

// max width 414px ends here

@media (min-width: 376px) and (max-width: 414px) {
}

// min width 376px and max width 414px ends here
@media (max-width: 375px) {
}
// max width 375px ends here
