@import 'partials/colors';
@import 'partials/variable';
@import 'partials/mixins';
@import 'partials/common';

html {
  scroll-padding-top: 100px;
}
body {
  margin: 0px auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 2550px;
  scroll-behavior: smooth;
  font-family: $gotham-medium;
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* ========================================== */

/* header section start here   */

/* ========================================== */

header {
  transition: 0.2s all;
  .main-header {
    transition: 0.2s all;
    padding: 62px 85px 40px 85px;
    .logo-box {
      width: 200px;
      img {
        max-width: 100%;
        transition: all 0.7s ease 0s;
        -webkit-transition: all 0.7s ease 0s;
        -moz-transition: all 0.7s ease 0s;
        -ms-transition: all 0.7s ease 0s;
        -o-transition: all 0.7s ease 0s;
      }
    }
    .header-flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      .main-header-items {
        .header-items-flex {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 20px;
          .single-item {
            .custom-switch-parent {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              gap: 10px;
              span {
                color: $white;
                font-size: 17px;
                line-height: 25px;
                font-family: $gotham-book;
                text-transform: uppercase;
              }
              .custom-switch {
                position: relative;
                display: inline-block;
                user-select: none;
                input {
                  display: none;
                  &:checked {
                    + {
                      label {
                        background: #bfd552;
                        &:after {
                          left: 16px;
                          background: $white;
                        }
                      }
                    }
                  }
                }
                label {
                  position: relative;
                  display: block;
                  width: 30px;
                  height: 18px;
                  border-radius: 22px;
                  background: #fff;
                  cursor: pointer;
                  &:after {
                    position: relative;
                    display: block;
                    content: '';
                    width: 10px;
                    height: 10px;
                    top: 4px;
                    left: 4px;
                    border-radius: 50%;
                    background: $gray-text;
                    pointer-events: none;
                    transition: all 0.4s ease-in-out;
                  }
                  &:active {
                    &:after {
                      width: 50px;
                    }
                  }
                }
              }
            }
            ul {
              li {
                a {
                  color: $white;
                  font-size: 17px;
                  line-height: 25px;
                  font-family: $gotham-book;
                  text-transform: uppercase;
                }
              }
            }
            .sidebar-toggler-btn {
              position: relative;
              width: 20px;
              height: 20px;
              cursor: pointer;
              #openButton {
                span {
                  position: absolute;
                  width: 100%;
                  height: 2px;
                  display: inline-block;
                  left: 0;
                  background-color: #fff;
                  @include transition-four;
                  border-radius: 4px;

                  &:first-child {
                    top: 0;
                    width: 50%;
                  }
                  &:nth-child(2) {
                    top: 44%;
                  }
                  &:last-child {
                    bottom: 0;
                    width: 50%;
                    right: 0;
                    left: unset;
                  }
                }
                &:hover {
                  span {
                    background-color: $logo-green;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .main-header.transparent-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
  }
  .main-header.sticky {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #000000;
    .logo-box {
      width: 120px;
    }
  }
}
.sidebar-main {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: url(../../images/sidebar-bg.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  overflow-y: auto;
  z-index: 99999;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  padding: 53px 100px;
  .sidebar-header {
    .sidebar-header-flex {
      @include flex-wrap-center;
      justify-content: space-between;
      .logo-box {
        width: 200px;
        img {
          max-width: 100%;
        }
      }
      .right-items {
        @include flex-wrap-center;
        gap: 20px;
        color: $white;
        ul {
          li {
            a {
              color: $white;
              text-transform: uppercase;
            }
          }
        }
        .single-items {
          .sidebar-close-btn {
            position: relative;
            width: 25px;
            height: 20px;
            cursor: pointer;
            #closeBtn {
              span {
                position: absolute;
                width: 100%;
                height: 2px;
                display: inline-block;
                left: 0;
                background-color: #fff;
                @include transition-four;
                border-radius: 4px;

                &:first-child {
                  top: 0;
                  transform: rotate(45deg) translate(3px, 9px);
                }
                &:nth-child(2) {
                  top: 44%;
                  opacity: 0;
                }
                &:last-child {
                  bottom: 0;
                  left: unset;
                  transform: rotate(-45deg) translate(3px, -9px);
                }
              }
              &:hover {
                span {
                  background-color: $logo-green;
                }
              }
            }
          }
        }
      }
    }
  }
  .sidebar-links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-top: 80px;
    gap: 40px;
    .top-items {
      width: 100%;
      ul {
        li {
          text-align: right;
          margin-bottom: 20px;
          a {
            color: $white;
            font-size: 30px;
            @include transition-four;
            &:hover {
              color: $logo-green;
            }
          }
          a.active {
            color: $logo-green;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .bottom-items {
      width: 100%;
      ul {
        li {
          text-align: right;
          margin-bottom: 5px;
          a {
            text-transform: uppercase;
            font-size: 14px;
            font-family: 'gothambook';
            line-height: normal;
            transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            color: #9e9e9e;
            &:hover {
              color: $white;
            }
          }
          a.active {
            color: $white;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .sidebar-contact {
    position: absolute;
    bottom: 50px;
    z-index: 1;
    max-width: 130px;
    display: flex;
    flex-wrap: wrap;
    gap: 14.5px;

    p {
      color: $gray-text;
      text-transform: capitalize;
      font-family: $gotham-medium;
      font-size: 16px;
      position: relative;
      margin-bottom: 0px;
      width: 100%;
      &::after {
        position: absolute;
        right: 0;
        width: 35px;
        height: 1px;
        background: $gray-text;
        content: '';
        top: 50%;
        transform: translateY(-50%);
      }
    }
    a {
      img {
        max-width: 20px;
      }
    }
  }
}
.sidebar-main.sidebar-hide {
  visibility: hidden;
  opacity: 0;
  top: -100%;
}
/* ========================================== */

/* header section ends here   */

/* ========================================== */

/* ========================================== */

/* Home Slider part starts here   */

/* ========================================== */

.home-slider-main {
  position: relative;
  .swiper {
    width: 100%;
    .swiper-button-prev {
      transition: 1s ease-out;
      -webkit-transition: 1s ease-out;
      -moz-transition: 1s ease-out;
      -ms-transition: 1s ease-out;
      -o-transition: 1s ease-out;
      left: -50px;
      color: $white;
    }
    .swiper-button-next {
      transition: 1s ease-out;
      -webkit-transition: 1s ease-out;
      -moz-transition: 1s ease-out;
      -ms-transition: 1s ease-out;
      -o-transition: 1s ease-out;
      right: -50px;
      color: $white;
    }
    &:hover {
      .swiper-button-prev {
        left: 30px;
      }
      .swiper-button-next {
        right: 30px;
      }
    }
  }
  .swiper-slide {
    .slide-bg {
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      width: 100%;
      height: 100vh;
    }
    .video-bg {
      width: 100%;
      height: 100vh;
    }
    position: relative;
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      top: 0;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba(173, 201, 28, 0),
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.4),
        rgba(117, 135, 17, 0.1),
        rgba(0, 0, 0, 1)
      );
    }
    video {
      object-fit: cover;
      object-fit: cover;
      width: 100%;
    }
  }
  .swiper-button-prev {
    &:after {
      font-size: 32px;
    }
  }
  .swiper-button-next {
    &:after {
      font-size: 32px;
    }
  }
  .slider-content-box {
    z-index: 1;
    width: 100%;
    height: 100%;
    // padding: 270px 100px 197px 100px;
    padding: 250px 100px 127px 100px;
    @include trans-y-center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
    .left-content {
      width: 320px;
      h2 {
        color: $white;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-family: $gotham-book;
      }
      ul {
        li {
          margin-bottom: 10px;
          a {
            text-transform: uppercase;
            font-size: 14px;
            font-family: $gotham-book;
            line-height: normal;
            @include transition-four;
            color: $gray-text;
            &:hover {
              color: $white;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .right-content {
      ul {
        li {
          margin-bottom: 25px;
          text-align: right;
          a {
            text-transform: uppercase;
            color: $white;
            font-family: $gotahm-bold;
            font-size: 48px;
            line-height: normal;
            text-align: right;
            @include transition-four;
            &:hover {
              color: $logo-green;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .slider-contact {
    position: absolute;
    bottom: 50px;
    z-index: 1;
    padding-left: 100px;
    max-width: 256px;
    display: flex;
    flex-wrap: wrap;
    gap: 14.5px;
    p {
      color: $gray-text;
      text-transform: capitalize;
      font-family: $gotham-medium;
      font-size: 20px;
      position: relative;
      margin-bottom: 0px;
      width: 100%;
      &::after {
        position: absolute;
        right: 0;
        width: 40px;
        height: 1px;
        background: $gray-text;
        content: '';
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .slider-sound-switch {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    bottom: 80px;
    z-index: 1;
    left: 26px;
    position: absolute;

    .custom-switch-parent {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    span {
      color: $white;
      font-size: 17px;
      line-height: 25px;
      font-family: $gotham-book;
      text-transform: uppercase;
    }
    .custom-switch {
      position: relative;
      display: inline-block;
      user-select: none;
      input {
        display: none;
        &:checked {
          + {
            label {
              background: #bfd552;
              &:after {
                left: 16px;
                background: $white;
              }
            }
          }
        }
      }
      label {
        position: relative;
        display: block;
        width: 30px;
        height: 18px;
        border-radius: 22px;
        background: #fff;
        cursor: pointer;
        overflow: hidden;
        &:after {
          position: relative;
          display: block;
          content: '';
          width: 10px;
          height: 10px;
          top: 4px;
          left: 4px;
          border-radius: 50%;
          background: $gray-text;
          pointer-events: none;
          transition: all 0.4s ease-in-out;
        }
        &:active {
          &:after {
            width: 50px;
          }
        }
      }
    }
  }
}
/* ========================================== */

/* Home Slider part ends here   */

/* ========================================== */

/* ========================================== */

/* footer part start here   */

/* ========================================== */
footer {
  .footer-main {
    padding: 75px 85px 70px 85px;
    border-top: 2px solid $white;
    background: #000000;
    .footer-left-flex {
      display: flex;
      flex-wrap: wrap;
      gap: 52px;
      align-items: center;
      .logo-box {
        width: 142px;
        img {
          max-width: 100%;
        }
        p {
          display: none;
          color: $gray-text;
          font-family: $gotham-medium;
          margin-bottom: 0;
          font-size: 16px;
          line-height: 24px;
          text-transform: capitalize;
        }
      }
      .contents {
        width: calc(100% - 194px);
        p {
          color: $gray-text;
          font-family: $gotham-medium;
          margin-bottom: 0;
          font-size: 16px;
          line-height: 24px;
          text-transform: capitalize;
        }
      }
    }
    .footer-links {
      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
        gap: 34px;
        li {
          a {
            text-transform: capitalize;
            color: $gray-text;
            font-family: $gotham-book;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
/* ========================================== */

/* footer part ends here   */

/* ========================================== */
